<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pedido</title>
    <style>
        body {
            background-color: #1b2838;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container2 {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .register-form {
            background-color: #2c3e50;
            padding: 40px;
            border-radius: 8px;
            text-align: center;
        }

            .register-form h1 {
                margin-bottom: 20px;
            }

            .register-form input,
            .register-form textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 4px;
                border: none;
            }

                .register-form input[type="submit"] {
                    background-color: #3498db;
                    color: #fff;
                    cursor: pointer;
                }

                    .register-form input[type="submit"]:hover {
                        background-color: #2980b9;
                    }

            .register-form textarea {
                height: 100px;
            }

        ::-webkit-input-placeholder {
            color: #ccc;
        }

        ::-moz-placeholder {
            color: #ccc;
        }

        :-ms-input-placeholder {
            color: #ccc;
        }

        ::placeholder {
            color: #201e1e;
        }

    </style>
</head>
<body>
    <div class="container">
        <form action="/pedido/criar" method="post">
            <label for="meioPagamento">Meio de Pagamento:</label>
            <br>
            <select id="meioPagamento" name="MeioPagamento" required>
                <option value="1">Cartão</option>
                <option value="2">Boleto</option>
                <option value="3">Pix</option>
            </select>
            <br>
            <label for="jogosIds">Jogos a Adquirir:</label>
            <br>
            <div class="container2">
                @foreach(Jogo jogo in ViewBag.jogos)
                {
                    <input type="CheckBox" name="jogosIds" value=@jogo.JogoId>@jogo.Nome
                    <br>
                }
            </div>
            <label for="complementoIds">Complementos a Adquirir:</label>
            <br>
            <div class="container2">
                @foreach(DLC complemento in ViewBag.complementos)
                {
                    <input type="CheckBox" name="complementosIds" value=@complemento.IdComplemento>@complemento.NomeComplemento
                    <br>
                }
            </div>
            <br>
            <input type="submit" value="Criar">
        </form>
    </div>
</body>
</html>
