<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tipo de Empresas</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <h1>Tipos de Empresas</h1>
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-primary" href='/empresa/ListaEmpresasTipo/?idJogo=1&tipo=1'>Empresas Desenvolvedoras</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-secondary" href='/empresa/ListaEmpresasTipo/?idJogo=1&tipo=2'>Empresas Distribuidoras</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-primary" href='/empresa/ListaEmpresas'>Todas as empresas</a>
      </div>
    </div>
  </div>

</body>
</html>