<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Complemento</title>
    <style>
        body {
            background-color: #1b2838;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .register-form {
            background-color: #2c3e50;
            padding: 40px;
            border-radius: 8px;
            text-align: center;
        }

            .register-form h1 {
                margin-bottom: 20px;
            }

            .register-form input,
            .register-form textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 4px;
                border: none;
            }

                .register-form input[type="submit"] {
                    background-color: #3498db;
                    color: #fff;
                    cursor: pointer;
                }

                    .register-form input[type="submit"]:hover {
                        background-color: #2980b9;
                    }

            .register-form textarea {
                height: 100px;
            }

        ::-webkit-input-placeholder {
            color: #ccc;
        }

        ::-moz-placeholder {
            color: #ccc;
        }

        :-ms-input-placeholder {
            color: #ccc;
        }

        ::placeholder {
            color: #201e1e;
        }

    </style>
</head>
<body>
    <div class="container">
        <form class="register-form" method="POST" action="/DLC/Cadastrar/?idJogo=1" enctype="multipart/form-data">
            <h1>Cadastro de Complemento</h1>
            <input type="text" placeholder="Nome do Complemento" required id="nome" name="nomeComplemento">
            <br>
            <label>Selecione a Imagem do Complemento </label>
            <input type="file" placeholder="Imagem do Complemento"name="imagem">
            <input type="text" placeholder="Descrição" required id="descricao" name="descricao">
            <input type="text" placeholder="Preço" required id="preco" name="preco">
            <input type="text" placeholder="Desconto" required id="desconto" name="desconto">
            <input type="hidden" name="status" value="1">
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>
