<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tipos</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <h1>Escolha</h1>
    <div class="row">
      <div class="col-md-6">
        <a class="btn btn-primary" href='/tipo/ListaTiposJogo/?idJogo=1'>Tipos por Jogo</a>
      </div>
      <div class="col-md-6">
        <a class="btn btn-secondary" href='/tipo/ListaTipos'>Todos os Tipos</a>
      </div>
    </div>
  </div>

</body>
</html>